/*
* Author name: Nicolas Dunfield
* Last updated December 7th 2022
* Projects page specific Style Sheet
 */
.resumeboxes{
    display: flex;
    flex-direction: column;
    margin: 2%;
    width:46%;
    background-color: white;
    border:1px solid black;
    box-shadow: 2px 3px #222222;
}
.textbox{
    width: 100%;
}
.boxes2{
    display: flex;
    flex-direction: row;
}
.boxes3{
    display: flex;
    flex-direction: row;
    width: 46%;
    margin:2%;
    border:3px double black;
}
.largebox{
    width: 90%;
    margin: 2% 5%;
    background-color: white;
    border:1px solid black;
    box-shadow: 2px 3px #222222;
    display: flex;
    flex-direction: column;
}